.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    padding-right: 16px;
    padding-left: 16px;
  }
}
