.place__image {
  max-width: calc((100vw - 1025px) / (1280 - 1025) * (460 - 440) + 440px);
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: calc((100vw - 769px) / (1024 - 769) * (440 - 340) + 340px);
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: calc((100vw - 321px) / (768 - 321) * (340 - 260) + 260px);
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 100%;
  }
}

