.lead {
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 64px;
  }
}
