.cover__subtitle {
  margin: 0;
  /* margin: 0 auto; */
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  max-width: 360px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc((100vw - 321px) / (768 - 321) * (18 - 14) + 14px);
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: calc(100vw * 14 / 320);
    line-height: 114%;
    max-width: 288px;
  }
}
