.header__logo {
  background-image: url(../../../images/logo.svg);
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
