.header {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 48px;
  padding-bottom: 56px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 48px;
  }
}
