.footer__links {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 694px) {
  .footer__links {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
