.footer__copyright {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  white-space: nowrap;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 100%;
  }
}
