.lead__subtitle {
  margin: 0;
  max-width: 640px;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc((100vw - 321px) / (768 - 321) * (30 - 16) + 16px);
    padding-bottom: calc((100vw - 321px) / (768 - 321) * (56 - 40) + 40px);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 125%;
    padding-bottom: 40px;
  }
}
