.place__link {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 122%;
  text-decoration: underline;
  color: #ffffff;
  transition: opacity 0.5s linear;
}

.place__link:hover {
  opacity: .8;
}
